*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --lateef:'Lateef', cursive;
    --raleway:'Raleway', sans-serif;
    --pink-logo:#F0D8D5;
    --black-navBar:#262626;
    --black:#000000;
    --bg-color:#FFFFFF;
}

body{
    background-color: var(--bg-color);
}

/*  HERENCIA DE PROPIEDADES A MULTIPLES ELEMENTOS  */

.logo, section, .container-title, .card, footer{
    display:flex;
    justify-content: center;
    align-items: center;
}


/*  HEADER  */
.header{
    width:100%;
}
.logo{
    width:100%;
    background:var(--pink-logo);
}
.nav-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}
.nav-bar ul{
    display:inline-flex;
}
.nav-bar ul li{
    margin:25px;
    font-size:16px;
    font-family: var(--lateef);
    font-weight: 400;
    list-style: none;
}
.nav-bar ul li a{
    color:var(--black-navBar);
    text-decoration: none;
}

.nav-bar .icons{
    padding:0 30px 0 0;
     display:flex;
     justify-content: flex-end;
     align-items: center;
}
.nav-bar .icons img{
    margin-right:10px;
}


/* ANCHO DE LOS ITEMS 1 Y 6, EN REVISIÓN */

.nav-bar ul li:nth-child(1){
    width:60px;
}
.nav-bar ul li:nth-child(6){
    width:61px;
}


/*  SECTION ABOUT ME  */

section{
    width:100%;
    flex-wrap: wrap;
    margin-bottom:3.8em;
}
.about-me img:nth-child(1){
    width:100%;
    margin-bottom:32px;
}
.about-me img:nth-child(2){
    width:46%;
    margin-right:20px;
}
.about-me img:nth-child(3){
    width:46%;
    margin-left:20px;
}
.about-me img:nth-child(4){
    width:95%;
    margin-top:32px;
}

/* SERVICIES */
.servicies{
    padding:30px;
}
.title{
    font-size:3.8em;
    font-family:var(--lateef);
}

.container-title{
    width:100%;
    margin-bottom:25px;
}
.cards{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px;
}
.card{
    flex-direction: column;
    position:relative;
}
.card .description{
    width:85%;
    height:180px;
    padding:20px;
    display: flex;
    flex-direction: column;
    z-index:200;
    background:#F4F4F4F2;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position:absolute;
    bottom:-60px;
}
.card .description span{
    font-size:27px;
    font-family: var(--raleway);
}
.card .description button{
    background:none;
    padding:11px 46px;
    border-radius:none;
    border:1px solid #000;
    margin-top:15px;
    cursor:pointer;
}
.card img{
    width:100%;
}


/*  PROYECTS  */
.proyects{
    margin-top:7em;
}
.gallery{
    width:100%;
    padding:25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

.col-1 img{
    width:100%;
    margin-bottom:10px;
}

/*  BLOG  */
.blog .container-title{
    flex-direction:column;
}
.blog .container-title .p{
    width:59%;
    text-align: center;
}

.blog .cards{
    padding:30px;
}

strong{
    font-family: var(--raleway);
    font-weight: 700;
    font-size:18px;
    margin-top:5px;
}

.p{
    font-family: var(--raleway);
    font-weight: 400;
    font-size:15px;
    margin-top:5px;
}

/**   FOOTER   **/
footer{
    padding:5em 3em 6.5em 5em;
    background:#F0D8D5;
    margin-top:10em;
}
footer .container-footer{
    display: grid;
    grid-template-columns: 150px 500px 130px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
}
footer .container-footer strong{
    font-family: var(--lateef);
    font-weight: 400;
    font-size: 32px;
}

footer .container-footer li{
    list-style: none;
    line-height: 25px;
    font-size: 15px;
    font-family: var(--raleway);
}

footer .email-send{
    display:flex;
    align-items: flex-end;
    margin-bottom:2em;
}

footer .container-footer input{
    width:50%; 
    padding:8.2px 0;
    margin-right:5px;
    border-radius:0;
    border:1px solid #000;
}
footer .container-footer button{
    padding:2px 4px;
    border-radius:0;
    border:1px solid #000;
    background:#DBDBDB;
    cursor: pointer;
}

footer .autor{
    font-size: 15px;
    font-family: var(--raleway);
    font-weight: 400;
    margin-top:3em;
}




                        /****  MEDIA QUERIES   *****/

/**
    Se hizo uso de display grid para maquetar la página web, excepto en el caso de la primera sección, donde se hizo uso de display flex para mayor facilidad a la hora de manipular los elementos por separados.
**/

/*
@media (max-width:530px) {

    .nav-bar{
        display: none;
    }
    
    .about-me img:nth-child(2){
        width:45%;
        margin-right:5px;
    }
    .about-me img:nth-child(3){
        width:45%;
        margin-left:5px;
    }

    .cards{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-gap:85px;
    }
    .gallery{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .blog .container-title .p{
        width:97%;
    }

    .card .description{
        height: auto;
    }

    footer .container-footer{
        grid-template-columns:1fr;
    }
}
*/